/.idea/**
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/com/willy/binance/config/config.ini
/charts/
/target/
/data/
/report/
/htmlcov/
/com/willy/binance/freqtrade/user_data/
