/.idea/**
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/com/willy/binance/config/config.ini
/charts/
/target/
/data/
/report/
/htmlcov/
/.vscode/launch.json
/.vscode/settings.json
/com/willy/binance/freqtrade/user_data/**
/com/willy/trade_bot/freqtrade/user_data/**
/com/willy/trade_bot/data/
/com/willy/trade_bot/ml/bti_xgb_v1/generated/
__pycache__/
*.py[cod]
*$py.class
